# xinput set-prop "Synaptics TM2668-002" "libinput Natural Scrolling Enabled" 1
# xinput set-prop "Synaptics TM2668-002" "libinput Tapping Enabled" 1
# id=12

# xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Natural Scrolling Enabled" 1
# xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Tapping Enabled" 1

DEVICE_ID=$(xinput | grep "Synaptics T" | sed 's/.*id=\([0-9]*\).*/\1/')

xinput set-prop $DEVICE_ID "libinput Natural Scrolling Enabled" 1
xinput set-prop $DEVICE_ID "libinput Tapping Enabled" 1